
@import url('https://fonts.googleapis.com/css?family=Signika');

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.axis--y > .domain, .axis--x > .domain{
  stroke: #BEBEBE;
}

.axis--y > g.tick > line, .axis--x > g.tick > line{
  stroke: #BEBEBE;
}

.dataTable-wrapper {
  margin-top: 20px;
}

thead > tr {
  background: #4f81bd;
  color: white;
}

tr td:nth-child(1){
  background: #4f81bd;
  color: white;
}

tr {
  color: #4f81bd;
  font-weight: 800;
}

tr.yellow, tr.yellow td:nth-child(1) {
  background: yellow;
  color: #4f81bd;
}

tr.green { background: green; }
tr.red { background: red; }

span.small {
    font-weight: 400;
    font-size: 0.9em;
}

.dataTable-table > thead > tr > th {
  vertical-align: top !important;
}

.dataTable-sorter::before, .dataTable-sorter::after {
  opacity: 0.1 !important;
}

.dataTable-sorter::before {
  bottom: auto;
}

.asc .dataTable-sorter::after, .desc .dataTable-sorter::before {
  opacity: 0.6 !important;
}

.title_menu {
  background: #4f81bd;
  color: white;
  padding: 2px !important;
}

#menu {
  font: 'Valera Round';
  color: #4f81bd;
}

#menu > div > p {
  font-size: 0.75em;
  padding: 1px 1px 1px 8px;
  margin: 0;
}

.box {
  margin-top: 15px;
  border: solid 1px #4f81bd;
}

span.square {
    height: 6px;
    border: 1px solid #4f81bd;
    content: " ";
    padding-left: 10px;
    margin-right: 5px;
    font-size: 0.8em;
}

span.square.checked {
  background: #4f81bd;
}

.button_blue {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 12px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.button_blue:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.button_blue:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

